
// couleurs
$couleur_claire: #FFFFFF;
$couleur_fonce: #001A25;
$couleur_fonce2:#58676D;
$couleur_claire2: #F3F5F8;
$couleur_claire3: #DCE4ED;
$couleur_grise:#636970;
$m-pink:#fd755f;
$m-purple:rgb(128, 0, 128);
$m-blue:#11ABEC;
$m-red:rgb(255, 0, 0);
$m-green:rgb(0, 128, 0)  ;
$m-default:$couleur_fonce;
$b-pink:#ffece6;
$b-purple:rgba(128, 0, 128, 0.1);
$b-blue:#F1F7FC;
$b-red:rgba(255, 0, 0, 0.1);
$b-green:rgba(0, 128, 0,0.1);
$b-default:$couleur_claire3;




// tailles
$largeur_page: 1195px;

// fontes
$fontEina03-SemiBold :'Eina03-SemiBold', sans-serif;